.container {
    padding-top: 5px;
}

.head {
    font-weight: 800;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
}

.nametag {
    color: darkred;
}

.girlimage {
    width: 70px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
